<!DOCTYPE html>
<html>
	<body>
		<h1>Emergency!!!!</h1>
		<p>Our distress Systems at SafeKaduna have detected that {user.name} MAY be in distress</p>
		<p>You are recieving this email, because {user.name} added you as an emergency contact.</p>
		<p>{user.name} location is {user.location}</p>
	</body>
</html>
